<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.io-stream.js"></script>
    <script src="/javascripts/recorder.js"></script>
    <script src="/javascripts/recorderWorker.js"></script>
    <script src="/javascripts/record_main.js"></script>



    <script src="/javascripts/homepage.js"></script>
</head>
<body class="h100">