<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script data-main="/javascripts/main.js" src="/javascripts/require.js"></script>
    <script src="/javascripts/homepage.js"></script>
    <script src="socket.io/lib/client.js"></script>

</head>
<body>