<% include header %>
<div class="row">
    <div class="large-12 columns">
        <div id="start_message" class="button text-center">Record Message</div>
        <div class="button" id="send_message">Send Message</div>
        <audio  controls></audio>
        <input type="file" id="file"/>

    </div>
</div>
<% include footer %>
