<% include header %>

    <div class="large-6 columns leftbg h100 hmin" style="overflow-y: hidden;">
        <!--<div class="margin-top-10 text-center" style="">-->
            <!--<img id="on-air" src="/images/on_air.gif" alt="" style="display: none;"/>-->
        <!--</div>-->
        <div class="text-center">
            <img src="/images/microphone-03.png" alt="" onclick="toggleRecording(this)" style=""/>
        </div>
        <ul class="file-listings" style="display:none;"></ul>
    </div>
    <div class="large-6 columns rightbg h100 text-center hmin">
        <!--<div class="small-12">-->
            <!--<img id="static" src="/images/radio_static.gif" alt="" style="display: none;"/>-->
        <!--</div>-->
        <div class="small-12 small-pull-12">
            <img id="intercom" src="/images/intercom-01.png" alt=""/>
        </div>
        <!--<div class="small-12 small-push-12">-->
            <!--<img id="breaking-news" src="/images/breaking_news.gif" alt="" style="display: none;"/>-->
        <!--</div>-->
        <audio></audio>
    </div>

<% include footer %>
