<% include header %>
<div class="row">
    <div class="large-12 columns">
        <div id="start_message" class="button text-center" onclick="toggleRecording(this)">Record Message</div>
        <div class="button" id="send_message" onclick="toggleRecording(this)">Send Message</div>
        <audio  controls></audio>
        <input type="file" id="file"/>
        <a href="" id="save">Save File</a>
    </div>
</div>
<% include footer %>
