<% include header %>
<div class="row">
    <div class="large-6 columns">
        <ul class="file-listings"></ul>
    </div>
    <div class="large-6 columns">
        <div id="start_message" class="button text-center" onclick="toggleRecording(this)">Record Message</div>
        <div class="button" id="send_message" onclick="toggleRecording(this)">Send Message</div>
        <audio  controls></audio>
    </div>
</div>
<% include footer %>
